{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div class=" mt-5" >
        <div class="text-center">
            <img src="{% static 'core/image/picture.jpg' %}" alt="ProfilePic"
            class="img-thumbnail" width="250px" height="150px">
        </div>

        <div class="mt-5 text-white mx-5 text-justify">
            <h1 class="font-weight-bold st-font">Hello,</h1>

            <div class="px-4" style="line-height: 2rem;" >
                <p style="text-indent:100px ">I am <b
                    class="text-warning" style="font-size:20px">Soumen Samanta</b> having 2 years of full-stack web development expprience for global
                    businesses, I offer the technical experties you are seeking for your web developer position
                </p>
                <p>
                    Since earning my bachelor's degree in internet and web developement from Panskura Banamali College (Autonomous), 
                    I have serve as a web developer at <b class="text-warning">GS Technology</b>, one of biggest premier digital marketing 
                    and web development firm. In this position, I have led web development projects forclients in divers industries including
                    technology, manufacturing, pharmaceutical, hospitality, retial and financial services.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quos labore, facere molestias veritatis animi nesciunt 
                    sapiente debitis eius necessitatibus reprehenderit porro, dolor incidunt, praesentium aperiam tempore nobis iusto sunt 
                    fuga odio voluptate sequi vero quod? Consectetur debitis voluptatem corporis ipsam. Fugit, porro?
                </p>
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'contact' %}" class="btn btn-outline-success my-3 mr-5">Hire me</a>
            <a href="{% url 'contact' %}" class="btn btn-outline-primary my-3">Contact</a>
        </div>
        
    </div>
{% endblock content %}